<!DOCTYPE html>
   {% load static %}
    {% load i18n %}
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="rrdevs">
    {% load static %}
       <!-- ========== Favicon Icon ========== -->
  {% get_current_language as CURRENT_LANG %}

    {% if CURRENT_LANG == 'ar' %}
      <title> تواسط ليبيا </title>
    {% elif CURRENT_LANG == 'en' %}
      {% comment %} <link rel="stylesheet" href="{% static 'assets/css/rtl-main.css' %}" /> {% endcomment %}
      <title>TAWASOT LIBYA </title>
    {% endif %}

<link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
<!-- ===========  All Stylesheet ================= -->
<!--  Icon css plugins -->
<link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
<!--  animate css plugins -->
<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
<!--  magnific-popup css plugins -->
<link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
<!--  owl carousel css plugins -->
<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
<!-- metis menu css file -->
<link rel="stylesheet" href="{% static 'assets/css/metismenu.css' %}">
<!--  owl theme css plugins -->
<link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
<!--  Bootstrap css plugins -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<!--  main style css file -->
{% comment %} <link rel="stylesheet" href="{% static 'assets/css/style.css' %}"> {% endcomment %}
<!-- RTL Style CSS -->
    {% get_current_language as CURRENT_LANG %}

    {% if CURRENT_LANG == 'ar' %}
     <link rel="stylesheet" href="{% static 'assets/css/style_rtl.css' %}">
    {% elif CURRENT_LANG == 'en' %}
      {% comment %} <link rel="stylesheet" href="{% static 'assets/css/rtl-main.css' %}" /> {% endcomment %}
           <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% endif %}

    <style>
        .footer-4 {
            padding: 0 !important;
        }
      .footer-4 .footer-bottom-content a:hover{
        cursor: pointer !important;
          color: var(--secondary_color) !important;
        }
        :root{
        --main_color : #0A3A6A;
        --secondary_color:#F99329;
        --third-color:#F8F0E5;
        }
        .show_more{
            background-color: var(--secondary_color) !important;
            color: white !important;
        }
        .cta-banner.style-3 .container-fluid{
            background-color: var(--secondary_color) !important;
        }
        .cta-banner.style-3 .container-fluid:hover{
            background-color: var(--third-color) !important;
        }
        .my_service{
            max-height: 380px;
            min-height: 380px;
        }
       .about-wrapper .about-content .text::after {
            clear: both;
            transition: all 0.4s ease-in-out;
            bottom: 0;
            left: 0;
            position: absolute;
            content: "\f058";
            font-family: "Font Awesome 5 Pro";
            color: var(--secondary_color);
            font-weight: 600;
            }
             .footer-4 .social-link a
                {
                    cursor: pointer;
                   
                }
            
                .footer-4 .social-link a:hover
                {
                    cursor: pointer !important;
                    color: white !important;
                    background-color: var(--secondary_color);
                }
              .footer-4 .single-footer-wid ul li > a:hover{
                cursor:  pointer !important;
                    color: var(--secondary_color) !important;
              }
              #scrollUp{
                background-color: var(--secondary_color) !important;
              }
              .recent_post_widget .recent-post-list .single-recent-post .post-data span:hover{
                color: var(--secondary_color) !important;

              }
              .footer-4 .recent_post_widget .recent-post-list .single-recent-post .post-data a:hover{
                color: var(--secondary_color) !important;
              }
              .footer-bottom{
                background-color: var(--third-color);
              }
    </style>
    
</head>


<body class="body-wrapper" dir="{% get_current_language as LANGUAGE_CODE %}{% if LANGUAGE_CODE == 'ar' %}
      
      rtl

    {% else %}
      
      ltr

    {% endif %}">   
    
    <div id="preloader" class="preloader">
        <div class="animation-preloader">
            <div class="spinner">                
            </div>
                <div class="txt-loading">
                    <span data-text-preloader="T" class="letters-loading">
                        T
                    </span>
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                    <span data-text-preloader="C" class="letters-loading">
                        C
                    </span>
                    <span data-text-preloader="H" class="letters-loading">
                        H
                    </span>
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                    <span data-text-preloader="X" class="letters-loading">
                        X
                    </span>
                </div>
            <p class="text-center">Loading</p>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- welcome content start from here -->

   
    <header class=" header-wrap header-5">

        <div class="top-header d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7">
                        <div class="header-cta">
                           {% load i18n %}

                                <ul>
                                    <li><a href="#"><i class="icon-location-dot"></i>{% trans "شارع عمر المختار، طرابلس، ليبيا" %}</a></li>
                                    <li><a href="mailto:techex@gmail.com"><i class="fal fa-envelope"></i>info@tawasot.ly</a></li>
                                    <li><a href="tel:+8801700080702"><i class="fal fa-phone"></i>+21891 1234567</a></li>
                                </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="header-right-cta d-flex justify-content-end">
                            <div class="social-profile">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                            |
                            <div class="lan-select">
                                {% comment %} <form>
                                    <select id="lan">
                                        <option>English</option>
                                        <option>China</option>
                                        <option>Bangla</option>
                                        <option>Hindi</option>
                                    </select>
                                </form> {% endcomment %}
                                {% load i18n %}
                             <form action="{% url 'set_language' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <select name="language" onchange="this.form.submit()">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% for code, name in LANGUAGES %}
                                    <option value="{{ code }}" {% if code == LANGUAGE_CODE %}selected{% endif %}>
                                        {{ name }}
                                    </option>
                                    {% endfor %}
                                </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-header-wraper">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="header-logo">
                     <div class="logo">
                            <a href="">
                                <img src="{% static 'logo_short.png' %}" alt="logo">
                            </a>
                        </div>

                        <div class="logo-2">
                            <a href="">
                                <img src="{% static 'img/logo-2.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="header-menu d-none d-xl-block">
                        <div class="main-menu">
                            <ul>
                               <li><a href="{% url 'home'%}">{% trans "Home" %}</a></li>
                                {% comment %} <li><a href="#about-us">{% trans "About" %}</a></li> {% endcomment %}
                                <li><a href="{% url 'news'%}">{% trans "news" %}</a></li>
                                <li><a href="{% url 'projects' %}">{% trans "Projects" %}</a></li>
                                <li><a href="#testimonial">{% trans "why us" %}</a></li>
                                <li><a href="{% url 'contact_us' %}">{% trans "Contact" %}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-right d-flex align-items-center">
                        <div class="header-btn-cta">
                            <div class="header-search">
                                <a class="search-toggle" data-selector=".header-search">
                                    <span class="fas fa-search"></span>
                                </a>

                                <form class="search-box" action="#" method="get">
                                    <div class="form-group d-flex align-items-center">
                                        <input type="search" name="s" value="" class="search-input" id="search" placeholder="Search">
                                        <button type="submit" class="search-submit"><i class="icon-search"></i></button>
                                    </div>
                                </form>
                            </div>
                            {% comment %} <a href="contact.html" class="theme-btn">Consultancy <i class="icon-arrow-right-1"></i></a> {% endcomment %}
                        </div>
                        <div class="mobile-nav-bar d-block ml-3 ml-sm-4 d-xl-none">
                            <div class="mobile-nav-wrap">                    
                                <div id="hamburger">
                                    <i class="fal fa-bars"></i>
                                </div>
                                <!-- mobile menu - responsive menu  -->
                                <div class="mobile-nav">
                                    <button type="button" class="close-nav">
                                        <i class="fal fa-times-circle"></i>
                                    </button>
                                    <nav class="sidebar-nav">
                                        <ul class="metismenu" id="mobile-menu">
                                          
                                                <li><a href="#home">{% trans "Home" %}</a></li>
                                                <li><a href="#about-us">{% trans "About Us" %}</a></li>
                                                <li><a href="#services">{% trans "Services" %}</a></li>
                                                <li><a href="#pricing">{% trans "Pricing" %}</a></li>
                                                <li><a href="#testimonial">{% trans "Testimonial" %}</a></li>
                                                <li><a href="#blog">{% trans "Blog" %}</a></li>
                                        </ul>
                                    </nav>
        
                                    <div class="action-bar">
                                            <a href="#"><i class="icon-location-dot"></i>{% trans "55 Clark St, Brooklyn, NY 11201, USA" %}</a>
                                            <a href="mailto:techex@gmail.com"><i class="fal fa-envelope-open-text"></i>techex@gmail.com</a>
                                            <a href="tel:123-456-7890"><i class="fal fa-phone"></i>+ 88 ( 9800 ) 6802</a>
                                            <a href="contact.html" class="d-btn theme-btn black">{% trans "Consultancy" %} <i class="icon-arrow-right-1"></i></a>
                                    </div>
                                </div>                            
                            </div>
                            <div class="overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>  
           {% block content %}
   
   {% endblock %}


    <footer class="footer-4 footer-wrap">
        <div class="footer-widgets">            
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xl-3 col-12 pr-xl-4">
                      <div class="single-footer-wid site_footer_widget">
                            <a href="index.html">
                                <img src="{% static 'img/logo-2.png' %}" alt="">
                            </a>
                            <p class="mt-4">{% trans "Sed ut perspiciatis unde omnis natus voluptatem accusa ntiumy doloremque laudantium.omnis natus voluptatem accusa ntiumy doloremque laudantium" %}</p>
                            <div class="social-link mt-30">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div> <!-- /.col-lg-3 - single-footer-wid -->
                   <div class="col-md-6 col-xl-3 col-12">
                        <div class="single-footer-wid" style="text-align: center;">
                            <div class="wid-title" style="display: flex;justify-content: center;">
                                <h4>{% trans "Company" %}</h4>
                            </div>
                            <ul>
                                <li><a href="about.html">{% trans "About Us" %}</a></li>
                                <li><a href="about.html">{% trans "Company History" %}</a></li>
                                <li><a href="{% url 'contact_us' %}">{% trans "Need a Career" %}</a></li>
                                <li><a href="project-details.html">{% trans "Working Process" %}</a></li>
                                <li><a href="news.html">{% trans "Blog Post" %}</a></li>
                            </ul>
                        </div>
                    </div> <!-- /.col-lg-3 - single-footer-wid -->
                 {% load i18n %}
               
                        <div class="col-md-6 col-xl-6 col-12">
                            <div class="single-footer-wid recent_post_widget">
                                <div class="wid-title">
                                    <h4>{% trans "News & Article" %}</h4>
                                </div>
                                <div class="recent-post-list">
                                      {% for news in latest_news|dictsortreversed:'created_at'|slice:':2' %}
                                         <div class="single-recent-post">
                                        <div class="thumb bg-cover" style="background-image: url({% if news.get_first_image %}
                                                {{ news.get_first_image }}
                                            {% else %}
                                                {% static 'images/no-image.jpg' %}
                                            {% endif %})"></div>
                                        <div class="post-data">
                                            <span><i class="fal fa-calendar-alt"></i>{{ news.created_at|date:'Y-m-d H:i' }}</span>
                                            <h5><a href="{% url 'news_detail' news.id  %}">{{ news.title }}</a></h5>
                                        </div>
                                    </div>
                                      {% endfor %}
                                   
                                </div>
                            </div>
                        </div><!-- /.col-lg-3 - single-footer-wid -->
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container text-center" style="direction: ltr;">
                <div class="footer-bottom-content">
                    All Rights Reserved
                    © 2025 <a class="my-account" href="https://www.facebook.com/EngSelwanAboujela/" target="_blank">selwanAboujela</a>. 
                </div>
            </div>
        </div>
    </footer>

 <!--  ALl JS Plugins
====================================== -->
{% load static %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/modernizr.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.easing.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/imageload.min.js' %}"></script>
<script src="{% static 'assets/js/scrollUp.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/js/magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/easypiechart.min.js' %}"></script>
<script src="{% static 'assets/js/counterup.min.js' %}"></script>
<script src="{% static 'assets/js/odometer.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/metismenu.js' %}"></script>
<script src="{% static 'assets/js/timeline.min.js' %}"></script>
<script src="{% static 'assets/js/nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/ajax-mail.js' %}"></script>
<script src="{% static 'assets/js/aos.min.js' %}"></script>
<script src="{% static 'assets/js/active.js' %}"></script>
{% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>