
{% extends 'layout/layout.html' %}
{% load static %}
 {% load i18n %}
{% block content %}

   <section class="page-banner-wrap bg-cover" style="background-image: url('assets/img/page-banner.jpg')">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-12" style="text-align: center;">
                    <div class="page-heading text-white">
                        <div class="page-title">
                            <h1>{% trans 'contact-us' %}</h1>
                        </div>
                    </div>

                    {% comment %} <nav aria-label="breadcrumb" >
                        <ol class="breadcrumb" style="display: flex;justify-content: center;">
                          <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                          <li class="breadcrumb-item active" aria-current="page">{% trans 'projects' %}</li>
                        </ol>
                    </nav> {% endcomment %}
                </div>
            </div>
        </div>
 </section>
    <section class="contact_form__wrapper section-padding-3" id=contact>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 mt-30" data-aos="fade-up" data-aos-delay="100">
                    <div class="contact__element" style="margin-top: -50px;">
                       {% load i18n %}

                            <div class="section-title section__title_3 mb-30">
                                <h6><img src="{% static 'assets/img/home5/bage.svg' %}" alt="">{% trans "تواصل معنا" %}</h6>
                                <h2>{% trans "احجز استشارتك الان" %}</h2>
                            </div>
                            <form action="{% url 'contact_form' %}" method="POST">
                                {% csrf_token %}
                                <input type="text" name="text" class="form-control" placeholder="{% trans 'الاسم بالكامل' %}">
                                <input type="email" name="email" class="form-control" placeholder="{% trans 'البريد الالكتروني' %}">
                                <textarea name="text" class="form-control" placeholder="{% trans 'رسالتك' %}"></textarea>
                                <input type="submit" class="form-control" value="{% trans 'ارسال' %}">
                            </form>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-30" data-aos="fade-up" data-aos-delay="100">
                  {% load i18n %}

<div class="contact__detels">
    <h2>{% trans "لا تتردد في التواصل معنا — فريقنا هنا لخدمتك" %}</h2>
    <p>
        {% trans "سواء كنت تبحث عن حل تقني متكامل، أو تحتاج إلى استشارة سريعة، نحن في تواسط ليبيا جاهزون لسماعك والإجابة على استفساراتك في أي وقت. اتصل بنا، ودعنا نساعدك على بناء مستقبل رقمي أقوى." %}
    </p>
    <div class="action__call d-flex">
        <div class="icon">
            {% comment %} <img src="{% static 'assets/img/home5/phone.svg' %}" alt=""> {% endcomment %}
            {% comment %} <i class="fal fa-phone" style="font-size: 30px; color:#F99329"></i> {% endcomment %}
            <i class='bx bxs-phone-ring' style='color:#F99329;font-size: 35px;';></i> 
        </div>
        <div class="content ml-20">
            <p>{% trans "متواجدون دائماً لخدمتك على الرقم" %}</p>
            <h4 style="direction: ltr;">091-1234567</h4>
        </div>
    </div>
</div>
                </div>
            </div>
        </div>
        <div class="arrow__element d-none d-lg-block">
          <img src="{% static 'assets/img/home5/teer.svg' %}" alt="">
        </div>
    </section>
{% endblock  %}