{% extends 'layout/layout.html' %}
{% load static %}
 {% load i18n %}
{% block content %}
 <div class="header-gutter"></div>
    
    <section id="home" class="hero-wrapper hero-6 section-padding-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-6">
                    <div class="banner-content">
                        <h2 data-aos="fade-up">{% trans "Digital analytics and technical consultations that drive your business growth" %}</h2>
                        <span>tawasot</span>
                        
                        {% comment %} <a data-aos="fade-up" data-aos-delay="100" href="contact.html" class="theme-btn mt-40">Discover More <i class="icon-arrow-right-1"></i></a> {% endcomment %}
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="banner-img">
                       <img src="{% static 'assets/img/banner_01.png' %}" alt="">
                       {% comment %} <img src="{% static 'logo.png' %}" alt=""> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        
            <div class="dots-element">
                <img src="{% static 'assets/img/home5/dots_01.svg' %}" alt="">
            </div>
            <div class="banner-element">
                <img src="{% static 'assets/img/home5/object_01.svg' %}" alt="">
            </div>
            <div class="banner-element-2">
                <img src="{% static 'assets/img/home5/banner_02.svg' %}" alt="">
            </div>
    </section>

   

    <section id="about-us" class="about-wrapper" style="margin-top: 70px;">
        <div class="container">
            <div class="row position-relative">
                <div class="col-md-12 col-lg-6" data-aos="fade-up" data-aos-delay="100">
                   
                    <div class="about-img">
                        <img src="{% static 'manger_solutuions.png' %}" alt="">
                    </div>
                    <div class="img-element">
                        <img src="{% static 'assets/img/home5/line_dots_01.svg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 mt-30" data-aos="fade-up" data-aos-delay="100">
                    <div class="section-title section__title_3 mb-30">
                        {% comment %} <h6><img src="{% static 'assets/img/home5/bage.svg' %}" alt>What we do</h6> {% endcomment %}
                        <h2>{% trans "تحليلات رقمية واستشارات تقنية تدفع بنمو أعمالك" %}</h2>
                    </div>
                    <div class="about-content">
                        {% load i18n %}

<p>{% trans "في تواسط ليبيا، نساعدك على اتخاذ قرارات ذكية مبنية على البيانات، من خلال حلول تحليل بيانات مخصصة وتقنيات متقدمة في الذكاء الاصطناعي وقواعد البيانات. نُحَوِّل البيانات إلى رؤية... والرؤية إلى نجاح." %}</p>
                       {% load i18n %}

                            <div class="text">
                                <p>{% trans "خوارزميات ذكية لتحليل البيانات وتحسين الأداء" %}</p>
                            </div>
                            <div class="text">
                                <p>{% trans "الوصول السلس والآمن لأي معلومة في أي وقت" %}</p>
                            </div>
                            <div class="text">
                                {% comment %} <i class="fas fa-check"></i> {% endcomment %}
                                {% comment %} <i class="fas fa-check-circle"></i> {% endcomment %}
                                <p>{% trans "استشارات احترافية تساعدك على اتخاذ القرار بثقة" %}</p>
                            </div>
                        {% comment %} <a href="#" class="theme-btn mt-40">Know us more <i class="icon-arrow-right-1"></i></a> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <div class="dots-element">
            <img src="{% static 'img/home5/dots_02.svg' %}" alt="">
        </div>
    </section>

    <section class="analytics-wrapper section-padding-3 bg-center bg-cover" style="background-image: url('{% static 'assets/img/home5/service_bg.png' %}');">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-12 col-md-12  text-center ">
                    <div class="section-title section__title_3 mb-30" data-aos="fade-up" data-aos-delay="100">
                        {% comment %} <h6><img src="{% static 'assets/img/home5/bage.svg' %}" alt>خدماتنا</h6> {% endcomment %}
                        <h2>{% trans 'خدماتنا' %}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 mt-30" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-element text-center my_service">
                        <div class="icon">
                            <img src="{% static 'assets/img/home5/erp.png' %}" alt="">
                        </div>
                        <h4>{% trans 'انظمة Erp' %}</h4>
                        {% comment %} <p>Lorem ipsum dolor sitconsectetur adipiscing eiusmod tempor.</p> {% endcomment %}
                        {% comment %} <a href="#" class="theme-btn">Read More <i class="far fa-long-arrow-right"></i></a> {% endcomment %}
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-30" data-aos="fade-up" data-aos-delay="150">
                    <div class="service-element text-center my_service">
                        <div class="icon">
                           <img src="{% static 'assets/img/home5/server.png' %}" alt="">
                        </div>
                        <h4>{% trans 'Cloud Computing' %}</h4>
                        {% comment %} <p>Lorem ipsum dolor sitconsectetur adipiscing eiusmod tempor.</p> {% endcomment %}
                        {% comment %} <a href="#" class="theme-btn">Read More <i class="far fa-long-arrow-right"></i></a> {% endcomment %}
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-30" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-element text-center my_service">
                        <div class="icon">
                            <img src="{% static 'assets/img/home5/cyber-criminal.png' %}" alt>
                        </div>
                        <h4>{% trans 'Cybersecurity' %}</h4>
                        {% comment %} <p> ipsum dolor sitconsectetur adipiscing eiusmod tempor.</p> {% endcomment %}
                        {% comment %} <a href="#" class="theme-btn">Read More <i class="far fa-long-arrow-right"></i></a> {% endcomment %}
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-30" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-element text-center my_service">
                        <div class="icon">
                            <img src="{% static 'assets/img/home5/settings.png' %}" alt>
                        </div>
                        <h4>  {% trans 'System Development' %}</h4>
                        {% comment %} <p>Lorem ipsum dolor sitconsectetur adipiscing eiusmod tempor.</p> {% endcomment %}
                        {% comment %} <a href="#" class="theme-btn">Read More <i class="far fa-long-arrow-right"></i></a> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <section id="services" class="service__wrapper about-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6 mt-30">
                    <div class="service__image">
                        <img src="{% static 'assets/img/home5/service_01.png' %}" alt="">
                        <div class="video-play-btn">
                            <a href="https://www.youtube.com/watch?v=E1xkXZs0cAQ" class="popup-video"><i class="fas fa-play"></i></a>                     
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 mt-30" data-aos="fade-up" data-aos-delay="100">
                    {% load i18n %}

                            <div class="section-title section__title_3 mb-30" >
                                <h6>
                                    <img src="{% static 'assets/img/home5/bage.svg' %}" alt="">
                                    {% trans "Our working process" %}
                                </h6>
                                <h2>{% trans "نحن في تواسط ليبيا، نبني مستقبل التقنية بخطى واثقة" %}</h2>
                            </div>
                   {% load i18n %}

                    <div class="service-content">
                        <p>
                            {% trans "في عالم تتسارع فيه الابتكارات، نضع بين يديك حلولاً رقمية مبتكرة تساعد على نمو أعمالك وتطورها. نعتمد على خبراتنا في تطوير البرمجيات، أنظمة ERP، الأمن السيبراني، والخدمات السحابية لنمنحك خدمات تقنية متكاملة ترتقي بمؤسستك نحو المستقبل." %}
                        </p>
                        <div class="about-content">
                        {% load i18n %}

<p>{% trans "في تواسط ليبيا، نساعدك على اتخاذ قرارات ذكية مبنية على البيانات، من خلال حلول تحليل بيانات مخصصة وتقنيات متقدمة في الذكاء الاصطناعي وقواعد البيانات. نُحَوِّل البيانات إلى رؤية... والرؤية إلى نجاح." %}</p>
                       {% load i18n %}

                            <div class="text">
                                <p>{% trans "سهولة في التعامل" %}</p>
                            </div>
                            <div class="text">
                                <p>{% trans "تنفيذ احترافي بمعايير عالمية" %}</p>
                            </div>
                            <div class="text">
                                {% comment %} <i class="fas fa-check"></i> {% endcomment %}
                                {% comment %} <i class="fas fa-check-circle"></i> {% endcomment %}
                                <p>{% trans "دعم فني متواصل 24/7" %}</p>
                            </div>
                        {% comment %} <a href="#" class="theme-btn mt-40">Know us more <i class="icon-arrow-right-1"></i></a> {% endcomment %}
                    </div>
                        {% comment %} <div class="supports">
                            <p></p><br>
                            <p></p><br>
                            <p class=""></p>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <div class="service__element">
            {% comment %} <img src="{% static 'img/home5/bg_ser.png' %}" alt=""> {% endcomment %}
            <img src="{% static 'img/home5/bg_ser.png' %}" alt="">
        </div>
    </section>

    <section class="funfact-wrapper_2 section-bg bg-cover" style="background-image: url(./assets/img/home5/fun_fac_02.png);">
        <div class="container">
            <div class="funfact-content-grid text-white">
              {% load i18n %}

                    <div class="single-funfact-item">
                        <h3>320 <span>+</span></h3>
                        <p>{% trans "Project Completed" %}</p>
                    </div>
                    <div class="single-funfact-item">
                        <h3>1000 <span>+</span></h3>
                        <p>{% trans "Expert Consultants" %}</p>
                    </div>
                    <div class="single-funfact-item">
                        <h3>35 <span>+</span></h3>
                        <p>{% trans "5 Stars Rating" %}</p>
                    </div>
                    <div class="single-funfact-item">
                        <h3>850 <span>+</span></h3>
                        <p>{% trans "Awards Winning" %}</p>
                    </div>
            </div>
        </div>
    </section> 

    <section class="contact_form__wrapper section-padding-3" id=contact>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 mt-30" data-aos="fade-up" data-aos-delay="100">
                    <div class="contact__element">
                       {% load i18n %}

                            <div class="section-title section__title_3 mb-30">
                                <h6><img src="{% static 'assets/img/home5/bage.svg' %}" alt="">{% trans "تواصل معنا" %}</h6>
                                <h2>{% trans "احجز استشارتك الان" %}</h2>
                            </div>
                            <form action="#">
                                <input type="text" name="text" class="form-control" placeholder="{% trans 'الاسم بالكامل' %}">
                                <input type="email" name="email" class="form-control" placeholder="{% trans 'البريد الالكتروني' %}">
                                <textarea name="text" class="form-control" placeholder="{% trans 'رسالتك' %}"></textarea>
                                <input type="submit" class="form-control" value="{% trans 'ارسال' %}">
                            </form>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mt-30" data-aos="fade-up" data-aos-delay="100">
                  {% load i18n %}

<div class="contact__detels">
    <h2>{% trans "لا تتردد في التواصل معنا — فريقنا هنا لخدمتك" %}</h2>
    <p>
        {% trans "سواء كنت تبحث عن حل تقني متكامل، أو تحتاج إلى استشارة سريعة، نحن في تواسط ليبيا جاهزون لسماعك والإجابة على استفساراتك في أي وقت. اتصل بنا، ودعنا نساعدك على بناء مستقبل رقمي أقوى." %}
    </p>
    <div class="action__call d-flex">
        <div class="icon">
            {% comment %} <img src="{% static 'assets/img/home5/phone.svg' %}" alt=""> {% endcomment %}
            {% comment %} <i class="fal fa-phone" style="font-size: 30px; color:#F99329"></i> {% endcomment %}
            <i class='bx bxs-phone-ring' style='color:#F99329;font-size: 35px;';></i> 
        </div>
        <div class="content ml-20">
            <p>{% trans "متواجدون دائماً لخدمتك على الرقم" %}</p>
            <h4 style="direction: ltr;">091-1521777
</h4>
        </div>
    </div>
</div>
                </div>
            </div>
        </div>
        <div class="arrow__element d-none d-lg-block">
          <img src="{% static 'assets/img/home5/teer.svg' %}" alt="">
        </div>
    </section>

<!-------------------------- Packaging------------------------------->
    {% comment %} <section id="pricing" class="price__wrapper section-padding-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-6 col-md-6 offset-md-3 text-center" >
                    <div class="section-title section__title_3 mb-30" data-aos="fade-up" data-aos-delay="100">
                        <h6>
                             <img src="{% static 'assets/img/home5/bage.svg' %}" alt="">
                            Pricing Package</h6>
                        <h2>Choose Your Best Plan</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 mt-30" data-aos="fade-up">
                    <div class="price__element">
                        <div class="price__head">
                            <div class="price__range">
                                <span>$</span>
                                <h3>19.00</h3>
                                <p>/Per Month</p>
                            </div>
                        </div>
                        <div class="preice__body">
                            <div class="cetagory__element">
                                <h4>Basic</h4>
                                <p>Plan</p>
                            </div>
                            <a href="#" class="theme-btn mb-30">Get Started</a>
                            <ul class="plan-features">
                                <li>Powerful Admin Panel</li>  
                                <li>Support Via E-Mail</li>  
                                <li class="active">Advanced Custom Fileds</li>  
                                <li class="active">Planning Solution</li>  
                                <li class="active">Enhanced Support</li>  
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mt-30" data-aos="fade-up" data-aos-delay="100">
                    <div class="price__element">
                        <div class="price__head">
                            <div class="price__range">
                                <span>$</span>
                                <h3>39.00</h3>
                                <p>/Per Month</p>
                            </div>
                        </div>
                        <div class="preice__body">
                            <div class="cetagory__element">
                                <h4>Standard</h4>
                                <p>Plan</p>
                            </div>
                            <a href="#" class="theme-btn mb-30">Get Started</a>
                            <ul class="plan-features">
                                <li>Powerful Admin Panel</li>  
                                <li>Support Via E-Mail</li>  
                                <li>Advanced Custom Fileds</li>  
                                <li class="active">Planning Solution</li>  
                                <li class="active">Enhanced Support</li>  
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 mt-30" data-aos="fade-up" data-aos-delay="100">
                    <div class="price__element">
                        <div class="price__head">
                            <div class="price__range">
                                <span>$</span>
                                <h3>99.00</h3>
                                <p>/Per Month</p>
                            </div>
                        </div>
                        <div class="preice__body">
                            <div class="cetagory__element">
                                <h4>Premium</h4>
                                <p>Plan</p>
                            </div>
                            <a href="#" class="theme-btn mb-30">Get Started</a>
                            <ul class="plan-features">
                                <li>Powerful Admin Panel</li>  
                                <li>Support Via E-Mail</li>  
                                <li>Advanced Custom Fileds</li>  
                                <li>Planning Solution</li>  
                                <li>Enhanced Support</li>  
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
                        <div class="dots-top-element">
                            <img src="{% static 'img/home5/vector_03.svg' %}" alt="">
                        </div>
                        <div class="dots-bottom-element">
                            <img src="{% static 'img/home5/vector_03.svg' %}" alt="">
                        </div>
    </section> {% endcomment %}

    <section id="blog" class="blog-section blog-wrapper section-padding-3 bg-cover bg-center" style="background-image: url(./assets/img/home5/blog_bg_line.svg);">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-12 col-md-12 offset-md-12 text-center">
                        <div class="section-title section__title_3 mb-30" data-aos="fade-up" data-aos-delay="100">
                            {% comment %} <h6><img src="assets/img/home5/bage.svg" alt>ARTICLES & TIPES</h6> {% endcomment %}
                            <h2>{% trans "أخر الأخبار" %}</h2>
                        </div>
                </div>
            </div>

            <div class="row">
                {% for news in latest_news|dictsortreversed:'created_at'|slice:':3' %}
                <div class="col-xl-4 col-md-6 col-12" data-aos="fade-up">
                    <div class="single-blog-card style-3" style="height: 520px;">
                        <div class="blog-featured-thumb bg-cover" style="background-image: url({% if news.get_first_image %}
                        {{ news.get_first_image }}
                      {% else %}
                        {% static 'images/no-image.jpg' %}
                      {% endif %})"></div>
                        <div class="content">
                            <div class="post-top-meta d-flex flex-wrap align-items-center">
                                <div class="post-date">
                                    <a href="#"><i class="fal fa-calendar-alt"></i>{{ news.created_at|date:'Y-m-d H:i' }}</a>
                                </div>
                                {% comment %} <div class="post-comment">
                                    <a href="#"><i class="icon-message"></i>02 Comments</a>
                                </div> {% endcomment %}
                            </div>
                            <h3 style="max-height: 85px; min-height: 85px;overflow: hidden;"><a href="{% url 'news_detail' news.id %}">{{ news.title }}</a></h3>
                            <div class="excerpt" style="max-height: 64px; overflow: hidden;">
                                <p>{{news.description |safe}}</p>
                            </div>
                            <div class="btn-link-share d-flex justify-content-between align-items-center">
                                <a class="show_more" href="{% url 'news_detail' news.id %}">{% trans 'read more' %}<i class="icon-arrow-right-1"></i></a>
                                {% comment %} <a href="#"><i class="fal fa-share-alt"></i></a> {% endcomment %}
                            </div>
                            
                        </div>
                        <div class="future-elem">
                            <p>{{news.category.name}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
               
            </div>
        </div>
    </section>

    <section class="cta-banner style-3">
        <div class="container-fluid bg-cover section-bg" style="background-image: url('{% static 'assets/img/cta_bg1.png' %}');">
           {% load i18n %}

<div class="cta-content">
   
    <div class="row align-items-center">
        <div class="col-xl-7 text-white col-12 text-center text-xl-left">
            <h1>
                {% trans "لا تضيع وقتك في الحلول العشوائية، دع خبراء تواسط ليبيا يرشدونك." %}
            </h1>
        </div>
        <div class="col-xl-5 col-12">
            <div class="btn-wraper d-flex flex-wrap justify-content-xl-end mt-2 mt-md-4 mt-xl-0">
                <a href="contact.html" class="theme-btn">{% trans "Get a quote" %} <i class="icon-arrow-right-1"></i></a>
                <a href="services-details.html" class="theme-btn">{% trans "قراءة المزيد" %} <i class="icon-arrow-right-1" dt></i></a>
            </div>
        </div>
    </div>
</div>
        </div>
    </section> 
{% endblock  %}