{% extends 'layout/layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  <section class="page-banner-wrap bg-cover" style="background-image: url('assets/img/page-banner.jpg')">
    {% comment %}
    <div class="banner-text"></div>
    {% endcomment %}
    <div class="container">
      <div class="row align-items-center" style="text-align: center;">
        <div class="col-md-12 col-12">
          <div class="page-heading text-white">
            <div class="page-title">
              <h1>{% trans 'news' %}</h1>
            </div>
          </div>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">{% trans 'home' %}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {% trans 'news' %}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <section class="blog-wrapper news-wrapper section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="blog-posts">
            <div class="single-blog-post">
             
              {% for news in news_list %}
               <div class="post-featured-thumb bg-cover" style="background-image: url({% if news.get_first_image %}
                        {{ news.get_first_image }}
                      {% else %}
                        {% static 'images/no-image.jpg' %}
                      {% endif %})">
                {% comment %} {% with first_media=news.media.first %}
                  <div class="post-featured-thumb bg-cover" style="background-image: url('{{ first_media.file.url }}')"></div>
                {% endwith %} {% endcomment %}
              </div>
                <div style="border: 1px solid #ccc; margin-bottom: 10px; padding: 10px">
                  <div class="post-content">
                    <h2 class="title_news"><a class="title_news" href="{% url 'news_detail' news.id %}" style="text-decoration: none;">{{ news.title }}</a></h2>
                    <div class="post-meta">
                      {% comment %} <span><i class="fal fa-eye"></i>232 Views</span> {% endcomment %}
                      {% comment %} <span><i class="fal fa-comments"></i>35 Comments</span> {% endcomment %}
                      <span>
                        <i class="fal fa-calendar-alt"></i>

                        {{ news.created_at|date:'Y-m-d H:i' }}
                      </span>
                    </div>
                    <p>{{ news.description|safe }}</p>
                    <div class="d-flex justify-content-between align-items-center mt-30">
                      <div class="author-info" style="display: flex;align-items: center;">
                        <div class="author-img" style="width: 25px;height: 25px;margin: 5px;background-image: url('{% static 'assets/img/blog/user.png' %}');"></div>
                        <h5>{{ news.author.username }}</h5>
                      </div>
                      <div class="post-link">
                        <a class="read_more_news" href="{% url 'news_detail' news.id %}"><i class="fal fa-arrow-right"></i> {% trans 'Read More' %}</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% empty %}
                <p>لا توجد أخبار حالياً.</p>
              {% endfor %}

            </div>
          </div>
          <div class="page-nav-wrap mt-60 text-center" style="margin-top: 25px;margin-bottom: 25px;">
            <ul>
              <li>
                <a href="#"><i class="fal fa-long-arrow-left"></i></a>
              </li>
              <li>
                <a href="#">01</a>
              </li>
              <li>
                <a href="#">02</a>
              </li>
              <li>
                <a href="#">..</a>
              </li>
              <li>
                <a href="#">10</a>
              </li>
              <li>
                <a href="#">11</a>
              </li>
              <li>
                <a href="#"><i class="fal fa-long-arrow-right"></i></a>
              </li>
            </ul>
          </div>
          <!-- /.col-12 col-lg-12 -->
        </div>
        <div class="col-12 col-lg-4">
          <div class="main-sidebar">
            <div class="single-sidebar-widget">
              <div class="wid-title">
                <h3>{% trans 'Popular Feeds' %}</h3>
              </div>

              {% for news in latest_news|dictsortreversed:'created_at'|slice:':3' %}
                <div class="popular-posts">
                  <div class="single-post-item">
                    <div class="thumb bg-cover"
                      style="background-image: url({% if news.get_first_image %}
                        {{ news.get_first_image }}
                      {% else %}
                        {% static 'images/no-image.jpg' %}
                      {% endif %})"></div>
                    <div class="post-content">
                      <h5><a href="{% url 'news_detail' news.id %}">{{ news.title }}</a></h5>
                      <div class="post-date">
                        <i class="far fa-calendar-alt"></i> {{ news.created_at|date:'Y-m-d H:i' }}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}

              {% comment %} <div class="popular-posts">
                <div class="single-post-item">
                  <div class="thumb bg-cover" style="background-image: url('assets/img/blog/pp1.jpg')"></div>
                  <div class="post-content">
                    <h5><a href="news-details.html">Lorem ipsum dolor sit cing elit, sed do.</a></h5>
                    <div class="post-date">
                      <i class="far fa-calendar-alt"></i>24th March 2019
                    </div>
                  </div>
                </div>
              </div> {% endcomment %}
            </div>
            <div class="single-sidebar-widget">
              <div class="wid-title">
                <h3>{% trans 'Categories' %}</h3>
              </div>
              <div class="widget_categories">
                <ul>
                  <li>
                    <a href="news.html">Consultant <span>23</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
