
{% extends 'layout/layout.html' %}
{% load static %}
 {% load i18n %}
{% block content %}

   <   <section class="page-banner-wrap bg-cover" style="background-image: url('assets/img/page-banner.jpg')">
        <div class="banner-text">Techex</div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <div class="page-heading text-white">
                        <div class="page-title">
                            <h1>Services</h1>
                        </div>
                    </div>

                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">about</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock  %}